Source: krokcom
Section: utility
Priority: optional
Maintainer: Stephen Anthony <stephena@users.sourceforge.net>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5.0.0), libqt4-dev

Package: krokcom
Architecture: any
Depends: ${shlibs:Depends}
Description: Krokodile Cartridge programming tool for Linux and OSX.
 The Krokodile Cartridge is a programmable game cartridge for the 2600 game
 console.  The cartridge contains 512K of Flash ROM that can be programmed by
 connecting the cartridge to a PC with a serial cable.  Once connected to a PC,
 the Krokodile Commander software is then used to download software into the
 Krokodile Cartridge.  The cartridge also includes 32K of built-in RAM to
 support games that require additional onboard cartridge memory
 (such as Atari's SARA-chip games).
 .
 KrokCom is a cross-platform application used to program the Krokodile
 Cartridge from a serial port/USB-serial converter for Linux/UNIX and OSX
 systems.  Both GUI and commandline usage is supported.
 .
  Homepage: http://krokcom.sf.net
